/* Haz que el body ocupe toda la altura de la pantalla */
body {
    font-family: sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual a la altura de la ventana */
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0cea00;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
}

button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0f7e2d;
}

/* Asegúrate de que el footer esté al final */
footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
    background-color: #333;
    color: rgba(255, 255, 255, 0.486);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
